{% extends "base.html" %}

{% block content %}

<br><br>


<h2>Products for sale:</h2>
<div class="container">
  <div class="row">
    {% for product in avail_products %}
      <div class="col-md-3 mb-4">
        <!-- Wrap the card in an anchor tag with the product_id as a query parameter -->
        <a href="{{ url_for('index.product_details', product_id=product.id) }}" class="card-link">
          <div class="card">
            <!-- Product Image -->
            <img src="{{ product.photo_url }}" alt="{{ product.name }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">Price: {{ product.price }}</p>
              <!-- Display Quantity Available -->
              <p class="card-text">Available: {{ product.amount }}</p>
              <form action="{{ url_for('wishlist.wishlist_add', product_id=product.id) }}" method="POST">
                <input type="submit" class="btn btn-primary" value="Add to Wishlist"/>
              </form>
              <form action="{{ url_for('cart.cart_add', product_id=product.id) }}" method="POST">
                <input type="submit" class="btn btn-secondary" value="Add to Cart"/>
              </form>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>


{% if page > 1 %}
<a href="{{ url_for('index.index', page=page-1) }}">Previous</a>
{% endif %}

{% if avail_products|length == 10 %}
<a href="{{ url_for('index.index', page=page+1) }}">Next</a>
{% endif %}



<br><br>
{% if current_user.is_authenticated %}
<h2>Your most recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Id</th>
      <th scope="col">Time Purchased</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in recent_purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td>{{purchase.pid}}<form action="{{ url_for('review.review_add', product_id = purchase.pid) }}" method="POST">
          <input type="submit" value="Review Product"/>
        </form></td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}
{% endblock %}
