{% extends "base.html" %}


{% block content %}

<h2>User</h2>
{% if current_user.is_authenticated %}
<table class='table table-hover table-bordered container'>
 <thead class="thead-dark">
   <tr>
     <th scope="col">ID</th>
     <th scope="col">Email</th>
     <th scope="col">First Name</th>
     <th scope="col">Last Name</th>
     <th scope="col">Address</th>
     <th scope="col">Balance</th>
   </tr>
 </thead>
 <tbody>
   <tr>
       <th scope="row">{{ current_user.id }}</th>
       <td>{{ current_user.email }}</td>
       <td>{{ current_user.firstname }}</td>
       <td>{{ current_user.lastname }}</td>
       <td>{{ current_user.address }}</td>
       <td>{{ current_user.balance }}</td>
   </tr>


 </tbody>

 <form action="{{ url_for('users.register') }}" method="get">
  <button type="submit" class="btn btn-primary">Update Profile</button>
</form>


<form action="{{ url_for('purchases.mypurchases', page=1) }}" method="get">
  <button type="submit" class="btn btn-primary">Purchase History</button>
</form>


 
</table>

<hr>

{% if reviews is not none %}
  <br><br>
  <h2>All your product reviews:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
        <th scope="col">Upvotes</th>
      </tr>
    </thead>
    <tbody>
      {% for r in reviews%}
        <tr>
          <th scope="row">{{r.pid}}</th>
          <td>{{r.review}}<form action="{{ url_for('review.review_delete', product_id=r.pid)  }}" method="POST">
            <input type="submit" value="Delete Review"/>
          </form><img src="{{r.photo_url}}"></td>
          <td>{{r.rating}}</td>
          <td>{{humanize_time(r.time_posted)}}</td>
          <td>{{r.upvotes}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br><br>
  <form action="{{ url_for('review.review_update')}}" method="POST"><h2>Edit/update current product reviews here:
    <input type="submit" value="Submit Updates"/>
  </h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
        <th scope="col">Upvotes</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row"><select name="pidChoice" id="pidSelect">
            {% for ra in reviews %}
              <option value="{{ra.pid}}" SELECTED>{{ra.pid}}</option>
            {% endfor%}
          </select></th>
          <td> <input type="text" id="reviewInput" name="reviewChoice"> <input type="file" accept="image/*" name="imageChoice"></td>
          <td><select name="ratingChoice" id="ratingSelect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select></td>   
          <td>Now</td>
          <td>N/A</td>
        </tr>
    </tbody>
  </table>
  </form>

{% endif %}
{% if sellerReviews is not none %}
<br><br>
  <h2>All your recent seller reviews:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seller Id</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
        <th scope="col">Upvotes</th>
      </tr>
    </thead>
    <tbody>
      {% for r in sellerReviews%}
        <tr>
          <th scope="row">{{r.seller_uid}}</th>
          <td>{{r.review}}<form action="{{ url_for('review.sellerreview_delete', seller_uid=r.seller_uid)  }}" method="POST">
            <input type="submit" value="Delete Review"/>
          </form></td>
          <td>{{r.rating}}</td>
          <td>{{humanize_time(r.time_posted)}}</td>
          <td>{{r.upvotes}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  <br><br>
  <form action="{{ url_for('review.sellerreview_update')}}" method="POST"><h2>Edit/update current seller reviews here:
    <input type="submit" value="Submit Updates"/>
  </h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seller ID</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
        <th scope="col">Upvotes</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row"><select name="suidChoice" id="suidSelect">
            {% for ra in sellerReviews %}
              <option value="{{ra.seller_uid}}" SELECTED>{{ra.seller_uid}}</option>
            {% endfor%}
          </select></th>
          <td> <input type="text" id="reviewInput2" name="reviewChoice2"></td>
          <td><select name="ratingChoice2" id="ratingSelect2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select></td>   
          <td>Now</td>
          <td>N/A</td>
        </tr>
    </tbody>
  </table>

  
  </form>
{% endif %}

{% else %}
 <p>User not authenticated. Please log in.</p>


{% endif %}


{% endblock %}
