{% extends "base.html" %}

{% block content %}

<br><br>

Product ID: {{ current_product.id }}
<br><br>
Product Name: {{ current_product.name }}
<br><br>
Product Description: {{ current_product.longDescription }}
<br><br>
Product Price: ${{ current_product.price }}
<br><br>
Product Amount: {{ current_product.amount }}
<br><br>
Product Tag: {{ current_product.tag }}
<br><br>
Product subtag: {{ current_product.subtag }}
<br><br>
Available: {% if current_product.available %}Yes{% else %}No{% endif %}
<br><br>
Product Img: <img src="{{ current_product.photo_url }}" alt="{{ current_product.name }}">
<br><br>
Sold by: <a href="/publicprofile/{{ current_seller.id }}">{{ current_seller.firstname }} {{ current_seller.lastname }}</a>
<br><br>
{% if current_user.is_authenticated %}
Reviews for this Product: <form action="/review/add/{{current_product.id}}" method="POST">
  <input type="submit" value="Add/Update Your Review!"/>
</form>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to leave/update your review!</p>
{% endif %}
<br><br>
Number of Reviews: {{num_of_reviews}}
<br><br> 
Average Product Review Rating: {{average_rating}}
{% if top_3_reviews is not none %}
<br><br>
Most Helpful Reviews For This Product:
<br><br>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Review</th>
      <th scope="col">Rating (out of 5 stars)</th>
      <th scope="col">Date Added</th>
      <th scope="col">Upvotes</th>
    </tr>
  </thead>
  <tbody>
    
    {% for s in top_3_reviews %}
    {% if user_id is not none and s.uid == user_id %}
      <tr>
        <th scope="row">{{ s.pid }}</th>
        <td>{{ s.review }}<form action="{{ url_for('review.review_delete', product_id=s.pid)  }}" method="POST">
          <input type="submit" value="Delete Review"/>
        </form>
       <img src="{{s.photo_url}}"></td>
        <td>{{ s.rating }}</td>
        <td>{{ humanize_time(s.time_posted) }}</td>
        <td>{{ s.upvotes }}</td>
      </tr>
    {% else %}
      <tr>
        <th scope="row">{{ s.pid }}</th>
        <td>{{ s.review }}<img src="{{s.photo_url}}"></td>
        <td>{{ s.rating }}</td>
        <td>{{ humanize_time(s.time_posted) }}</td>
        <td>{{ s.upvotes }}</td>
      </tr>
    {% endif %}
  {% endfor %}
   
  </tbody>
</table>
{% else %}
<br><br>
Looks like no one has left any reviews! Be the first!
<br><br>
{% endif %}

{% if associated_reviews is not none %}
Other Recent Reviews:
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
        <th scope="col">Upvotes</th>
      </tr>
    </thead>
    <tbody>
      
      
      {% for r in associated_reviews %}
      {% if user_id is not none and r.uid == user_id %}
        <tr>
          <th scope="row">{{ r.pid }}</th>
          <td>{{ r.review }}<form action="{{ url_for('review.review_delete', product_id=r.pid)  }}" method="POST">
            <input type="submit" value="Delete Review"/>
          </form><img src="{{r.photo_url}}"></td>
          <td>{{ r.rating }}</td>
          <td>{{ humanize_time(r.time_posted) }}</td>
          <td>{{ r.upvotes }}</td>
        </tr>
      {% else %}
        <tr>
          <th scope="row">{{ r.pid }}</th>
          <td>{{ r.review }}<img src="{{r.photo_url}}"></td>
          <td>{{ r.rating }}</td>
          <td>{{ humanize_time(r.time_posted) }}</td>
          <td>{{ r.upvotes }}</td>
        </tr>
      {% endif %}
      
    {% endfor %}
     
    </tbody>
</table>
{% endif %}



{% endblock %}
