{% extends "base.html" %}


{% block content %}

<h2>User</h2>
{% if seller %}
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Seller Email</th>
      <th scope="col">Seller Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <th scope="row">{{ userInfo.id }}</th>
          <td>{{ userInfo.firstname }}</td>
          <td>{{ userInfo.lastname }}</td>
          
          <td>{{ userInfo.email }}</td>
          <td>{{ userInfo.address }}</td>
  
          
      </tr>
  
    </tbody>
  </table>  


  {% if reviews_for_this_seller is none %}
  No reviews for this seller.
  {% else %}
  <br><br>
  <h2>Reviews For This Seller:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seller Id</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
        <th scope="col">Upvotes</th>
      </tr>
    </thead>
    <tbody>
      {% for r in reviews_for_this_seller %}
        <tr>
          <th scope="row">{{r.seller_uid}}</th>
          <td>{{r.review}}<form action="{{ url_for('review.sellerreview_delete', seller_uid=r.seller_uid)  }}" method="POST">
            <input type="submit" value="Delete Review"/>
          </form></td>
          <td>{{r.rating}}</td>
          <td>{{humanize_time(r.time_posted)}}</td>
          <td>{{r.upvotes}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

   
{% else %}
  <table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
   <tr>
     <th scope="col">ID</th>
     <th scope="col">First Name</th>
     <th scope="col">Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">{{ userInfo.id }}</th>
        <td>{{ userInfo.firstname }}</td>
        <td>{{ userInfo.lastname }}</td>
    </tr>
 
  </tbody>
   </table>  
{% endif %}

{% endblock %}
