{% extends "base.html" %}

{% block content %}

<br><br>
<h2>User's Recent Purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Date Purchased</th>
    </tr>
  </thead>
  <tbody>
    {% for item in purchasedItems %}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.pid}}</td>
        <td>{{item.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for('purchases.purchases', user_id=user_id, page=page-1) }}">Backward</a>
<a href="{{ url_for('purchases.purchases', user_id=user_id, page=page+1) }}">Forward</a>

{% endblock %}
