{% extends "base.html" %}

{% block content %}

<br><br>
{% if rec_products %}

<h2>You may also like:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity In Stock</th>
      <th scope="col">Photo URL</th>
    </tr>
  </thead>
  <tbody>
    {% for product in rec_products %}
    <tr>
        <td>Product Name: {{ product.name }}</td>
        <td>Price: {{ product.price }}</td>
        <td>In Stock: {{ product.amount }}</td>
        <td>Photo: {{ product.photo_url }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}


<form id="searchForm" action="{{ url_for('purchases.get_orders_by_modifier') }}" method="GET">
  <label for="sellerName">Seller ID:</label>
  <input type="text" id="sellerName" name="seller_id">

  <label for="itemTag">Item Tag:</label>
  <input type="text" id="itemTag" name="item_tag">

  <label for="startDate">Start Date:</label>
  <input type="date" id="startDate" name="start_date">

  <label for="endDate">End Date:</label>
  <input type="date" id="endDate" name="end_date">

  <button type="submit">Filter Purchases</button>
</form>


<h2>User's Recent Purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Purchase ID</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Photo URL</th>
      <th scope="col">Tag</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
      <th scope="col">Date Purchased</th>
      <th scope="col">Fulfillment Status</th>
      <th scope="col">Detailed Order Page</th>

    </tr>
  </thead>
  <tbody>
    {% for item in purchasedItems %}
      <tr>
        <th scope="row">{{item.oid}}</th>
        <td>{{item.id}}</td>
        <td>{{item.seller_id}}</td>
        <td>{{item.pid}}</td>
        <td>{{item.name}}</td>
        <td>{{item.photo_url}}</td>
        <td>{{item.tag}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.total_price}}</td>
        <td>{{item.time_purchased}}</td>
        <td>{{item.fulfillment_status}}</td>
        <td><a href="{{ url_for('purchases.get_specific_order', oid=item.oid) }}" class="btn btn-light" role="button">View Order Details</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if page > 1 %}
<a href="{{ url_for('purchases.mypurchases', page=page-1) }}">Previous</a>
{% endif %}

{% if purchasedItems|length == 20 %}
<a href="{{ url_for('purchases.mypurchases', page=page+1) }}">Next</a>
{% endif %}

{% endblock %}
