{% extends "base.html" %}

{% block content %}
<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Review</th>
      <th scope="col">Rating (out of 5 stars)</th>
      <th scope="col">Date Added</th>
    </tr>
  </thead>
  <tbody>
    {% for r in reviews%}
      <tr>
        <th scope="row">{{r.pid}}<form action="{{ url_for('review.review_update', product_id=r.pid)  }}" method="POST">
          <input type="submit" value="Edit Review"/>
        </form></th>
        {%if hideRateNReview == True %}

        {% else %}
        <td>{{r.review}}<form action="{{ url_for('review.review_delete', product_id=r.pid)  }}" method="POST">
          <input type="submit" value="Delete Review"/>
        </form></td>
        {% endif %}
        {%if hideRateNReview == True %}
          
        {% else %}
        <td>{{r.rating}}</td>
        {% endif %}
        <td>{{humanize_time(r.time_posted)}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your reviews!</p>
{% endif %}
{% endblock %}
