{% extends "base.html" %}

{% block content %}
<br><br>

{% if composedItems is none %}
  <h1>REVIEWS PAGE -> ALL YOUR REVIEWS HERE!</h1>
  <br><br>
  <h2>Your recent product reviews:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
      </tr>
    </thead>
    <tbody>
      {% for r in reviews%}
        <tr>
          <th scope="row">{{r.pid}}</th>
          <td>{{r.review}}<form action="{{ url_for('review.review_delete', product_id=r.pid)  }}" method="POST">
            <input type="submit" value="Delete Review"/>
          </form></td>
          <td>{{r.rating}}</td>
          <td>{{humanize_time(r.time_posted)}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br><br>
  <form action="{{ url_for('review.review_update')}}" method="POST"><h2>Edit/update current product reviews here:
    <input type="submit" value="Submit Updates"/>
  </h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row"><select name="pidChoice" id="pidSelect">
            {% for ra in reviews %}
              <option value="{{ra.pid}}" SELECTED>{{ra.pid}}</option>
            {% endfor%}
          </select></th>
          <td> <input type="text" id="reviewInput" name="reviewChoice"></td>
          <td><select name="ratingChoice" id="ratingSelect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select></td>   
          <td>Now</td>
        </tr>
    </tbody>
  </table>
  </form>

  <br><br>
  <h2>Your recent seller reviews:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seller Id</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
      </tr>
    </thead>
    <tbody>
      {% for r in sellerReviews%}
        <tr>
          <th scope="row">{{r.seller_uid}}</th>
          <td>{{r.review}}<form action="{{ url_for('review.sellerreview_delete', seller_uid=r.seller_uid)  }}" method="POST">
            <input type="submit" value="Delete Review"/>
          </form></td>
          <td>{{r.rating}}</td>
          <td>{{humanize_time(r.time_posted)}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  <br><br>
  <form action="{{ url_for('review.sellerreview_update')}}" method="POST"><h2>Edit/update current seller reviews here:
    <input type="submit" value="Submit Updates"/>
  </h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seller ID</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row"><select name="suidChoice" id="suidSelect">
            {% for ra in sellerReviews %}
              <option value="{{ra.seller_uid}}" SELECTED>{{ra.seller_uid}}</option>
            {% endfor%}
          </select></th>
          <td> <input type="text" id="reviewInput2" name="reviewChoice2"></td>
          <td><select name="ratingChoice2" id="ratingSelect2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select></td>   
          <td>Now</td>
        </tr>
    </tbody>
  </table>

  <!-- <p><a href="{{ url_for('review.feedback')}}">Click Here To See Your Overall Top 5 Reviews!</a></p> !-->
  </form>
{% else %}
  <h1>TOP 5 REVIEWS PAGE -> The Top 5 Of Your Feedback Here!</h1>
  <br><br>
  <h2>Your recent product reviews:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
      </tr>
    </thead>
    <tbody>
      {% for r in composedItems%}
        {% if r[0] == "r" %}
        <tr>
          <th scope="row">{{r[1].pid}}</th>
          <td>{{r[1].review}}<form action="{{ url_for('review.review_delete', product_id=r[1].pid)  }}" method="POST">
            <input type="submit" value="Delete Review"/>
          </form></td>
          <td>{{r[1].rating}}</td>
          <td>{{humanize_time(r[1].time_posted)}}</td>
        </tr>
        {% else %}

        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <br><br>
  <form action="{{ url_for('review.review_update')}}" method="POST"><h2>Edit/update current product reviews here:
    <input type="submit" value="Submit Updates"/>
  </h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row"><select name="pidChoice" id="pidSelect">
            {% for ra in composedItems %}
              {% if ra[0] == "r" %}
              <option value="{{ra[1].pid}}" SELECTED>{{ra[1].pid}}</option>
              {% else %}
              {% endif %}
            {% endfor%}
          </select></th>
          <td> <input type="text" id="reviewInput" name="reviewChoice"></td>
          <td><select name="ratingChoice" id="ratingSelect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select></td>   
          <td>Now</td>
        </tr>
    </tbody>
  </table>
  </form>

  <br><br>
  <h2>Your recent seller reviews:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seller Id</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
      </tr>
    </thead>
    <tbody>
      {% for r in composedItems%}
        {% if r[0] == "s" %}
        <tr>
          <th scope="row">{{r[1].seller_uid}}</th>
          <td>{{r[1].review}}<form action="{{ url_for('review.sellerreview_delete', seller_uid=r[1].seller_uid)  }}" method="POST">
            <input type="submit" value="Delete Review"/>
          </form></td>
          <td>{{r[1].rating}}</td>
          <td>{{humanize_time(r[1].time_posted)}}</td>
        </tr>
        {% else %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>


  <br><br>
  <form action="{{ url_for('review.sellerreview_update')}}" method="POST"><h2>Edit/update current seller reviews here:
    <input type="submit" value="Submit Updates"/>
  </h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seller ID</th>
        <th scope="col">Review</th>
        <th scope="col">Rating (out of 5 stars)</th>
        <th scope="col">Date Added</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row"><select name="suidChoice" id="suidSelect">
            {% for ra in composedItems %}
              {% if ra[0] == "s" %}
              <option value="{{ra[1].seller_uid}}" SELECTED>{{ra[1].seller_uid}}</option>
              {% else %}
              {% endif %}
            {% endfor%}
          </select></th>
          <td> <input type="text" id="reviewInput2" name="reviewChoice2"></td>
          <td><select name="ratingChoice2" id="ratingSelect2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select></td>   
          <td>Now</td>
        </tr>
    </tbody>
  </table>

  <p><a href="{{ url_for('review.review')}}">Click Here To See ALL Your Reviews!</a></p>
  </form>
{% endif %}
{% endblock %}
