{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>Your Wishlist:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
        <th scope="col">Wish ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Date Added</th>
        <th scope="col">Days Ago</th>
    </tr>
  </thead>
  <tbody>
    {% for wish in wisheslist %}
      <tr>
        <th scope="row">{{wish.id}}</th>
        <td>{{wish.pid}}</td>
        <td>{{wish.time_added}}</td>
        <td>{{humanize_time}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your wishlist!</p>
{% endif %}

{% endblock %}
